@import "./Utils/variables";
@import "./Utils/mixins";
@import "./Utils/list";
*{
    box-sizing: border-box;
    font-family: 'roboto', Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}
.header-logo{
    @include header;
    @include touch-pad{
        height: 5em;
        font-size: 1.5em;
    }
    @include desktop-only{
        font-size: 2em;
    }
}

/*          Loader       */

.loader{
    display: flex; 
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 99;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: loader 3s linear;
    animation-fill-mode: both;
    &_circle{
        @include loader-circle($primary-color);
        animation: jump .3s linear -0.9s infinite alternate;
        }
    &_circle-2{
        @include loader-circle($tertiary-color);
        animation: jump .3s linear .1s infinite alternate;
    }
    &_circle-3{
        @include loader-circle($secondary-color);
        animation: jump .3s linear .2s infinite alternate;
    }
    &_txt{
        display: flex;
        padding-bottom: 1em;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right bottom, $secondary-color, $primary-color);
        & span{
            font-family: 'shrikhand', Verdana, Geneva, Tahoma, sans-serif;
            font-size: 2.5em;
    }
    }
}
@keyframes jump {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes loader {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 1;

    }
    75%{
        opacity: .6;

    }
    100%{
        opacity: 0;
        z-index: -1;
    }
    
}

.explore{
    @include desktop-only{
        position: relative;
        box-shadow: $shadow;
    }
}

/*              Recherche               */

.form{
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    @include touch-pad{
        height: 5em;
        align-items: center;
    }
    @include desktop-only{
        background-color: #f6f6f6;
        font-size: 1.1em;
    }
    & input{
        border: none;
        background-color: #eaeaea;
        margin-left: 1em;
        width: 57%;
        outline: none;
        @include touch-pad{
            font-size: 1em;
        }
        @include desktop-only{
            background-color: #f6f6f6;
            font-size: 1em;
        }
        &::placeholder{
            font-weight: bold;
        }
    }
    & p{
        display: flex;
        justify-content: center;
        margin: .8em;
        @include desktop-only{
            margin-top: 1.5em;    
        }

    }
}

/*              Section exploration             */

.explore_info{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: #f6f6f6;
    @include touch-pad{
        height: 14em;
        justify-content: center;
        box-shadow: $shadow;
    }
    @include desktop-only{

    }
    & h1{
        padding: 0 3em;
        text-align: center;
        margin-bottom: 0;
        margin-top: 1.5em;
        @include touch-pad{
            margin-top: .5em;
        }
        @include desktop-only{
            margin-top: 0;
        }
    }
    &_txt{
        padding: 0 2em;
        text-align: center;
        font-size: 1em;
    }
    &_btn{
        @include button (200px);
        margin-bottom: 3em;
        &:hover{
            @include btn-hover;
        }
        @include touch-pad{
            width: 14em;
            height: 3em;
            border-radius: 40px;
            font-size: 1.2em;
            margin: 1em 0;
        }
}
}

/*              Fonctionnement              */

.functioning{
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    margin: 2em 0;
    @include desktop-only{
        margin-bottom: 5em;
    }
    & h1{
        @include touch-pad{
            @include title-style;
        }
        @include desktop-only{
            margin-bottom: 1em;
        }
    }
    &_choice{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include touch-pad{
            flex-flow: column wrap;
            height: 15em;
            justify-content: center;
            margin: 2.5em 0;
        }
        @include desktop-only{
            justify-content: space-around;
            flex-direction: row;
        }
        &_btn{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1em 0;
            width: 90%;
            height: 70px;
            border-radius: 25px;
            flex-wrap: nowrap;
            position: relative;
            background-color: #f6f6f6;
            box-shadow: 0px 6px 16px #cfcfcf;
            @include touch-pad{
                width: 20em;
                margin: 1.5em 0;
            }
            @include desktop-only{
                margin: 1em 2em;
                width: 18em;
            }
            &:hover{
                background-color: #f5edff;
                & i{
                    color: $primary-color;
                }
            }
            & a{
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                text-align: center;
                text-decoration: none;
            }
            &_number, i, span{
                margin: 0 1em;
                color: black;
                font-weight: bold;
            }
        }
        &_number{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 23px;
            left: -12px;
            font-size: .9em;
            width: 1.7em;
            height: 1.7em;
            border-radius: 50%;
            background-color: $primary-color;
            color: white;
        }
        &_icon{
            display: flex;
            width: 1em;
            justify-content: center;
            margin-left: 2em;
            & i{
                color: #7e7e7e;
                }
            }
        }
}


/*              Restaurants             */

.restaurant{
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    margin-bottom: 0;
    padding: 0 1em;
    background-color: $bg;
    @include touch-pad{
        background-color: white;
    }
    @include desktop-only{
        overflow-x: scroll;
    }
    & h1{
        margin-top: 2em;
        margin-bottom: .5em;
        @include touch-pad{
            @include title-style;
        }
    }
    &_card{
        display: flex;
        flex-direction: column;
        margin-bottom: 3.5em;
        @include touch-pad{
            flex-flow: column wrap;
            height: 672px;
            align-items: center;
        }
        @include desktop-only{
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 120em;
        }
        & article{
            display: flex;
            flex-direction: column;
            height: 280px;
            width: 100%;
            margin: 1em 0;
            border-radius: 20px;
            box-shadow: 0px 6px 16px #cfcfcf;
            overflow: hidden;
            @include touch-pad{
                width: 45%;
                height: 18em;
                margin: 1.5em 1em;
            }
            @include desktop-only{
                width: 23em;
                height: 281px;
                margin: 2em;
            }
            & a{
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: black;
            }
        }
        &_pic_01{
            background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            @include card-restaurant-img;
            &_txt{
                @include card-restaurant-img-txt;
            }
        }
        &_pic_02{
            background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            @include card-restaurant-img;
            &_txt{
                @include card-restaurant-img-txt;
            }
        }
        &_pic_03{
            background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            @include card-restaurant-img;
        }
        &_pic_04{
            background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            @include card-restaurant-img;
        }
        &_body{
            display: flex;
            height: 30%;
            font-size: 1em;
            justify-content: space-between;
            align-items: center;
            padding-left: 1em;
            &_txt{
                display: flex;
                flex-direction: column;
                width: 65%;
                height: 100%;
                justify-content: center;
                padding-bottom: .5em;
                & h2{
                    margin: 0;
                    margin-bottom: .2em;
                    font-size: 1.2em;
                }
                & span{
                    font-size: 1.2em;
                }
                
            }
            &_icon{
                display: flex;
                width: 35%;
                height: 100%;
                justify-content: flex-end;
                align-items: center;
                padding-right: 1.5em;
                position: relative;
                &_empty{
                    font-size: 1.5em;
                    z-index: 2;
                    &:hover + .restaurant_card_body_icon_full{
                        animation: heart 1s both;
                    }
                    &:hover{
                        @include heart-color;
                    }
                    }
                &_full{
                    position: absolute;
                    @include heart-color;
                    width: 1.5em;
                    height: 1.5em;
                    font-size: 1.5em;
                    right: 18px;
                    top: 28px;
                    transform: scale(0);
                }
                }
            }
        }
    }
@keyframes heart {
    100%{
        transform: scale(1)
    }
    
}
/*                  Footer              */

.footer{
    @include footer;
}
/*              Page restaurants            */
/*                  Menu                    */

.header-menu{
    @include header;
    &_icon{
        position: absolute;
        left: 30px;
        top: 27px;
        font-size: 1.3em;
        @include touch-pad{
            font-size: 1.5em;
            top: 37px;
        }
        @include desktop-only{
            font-size: 1.5em;
            top: 37px;
        }
        & a{
            color: black;
        }
    }
}
.main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    &_pic_ldds{
        @include layout-bg-img-menu;
        background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
        @include touch-pad{
            background-position: bottom;
            height: 377px;
        } 
        @include desktop-only{
            height: 500px;
            background-position: center;
            background-attachment: fixed;
        }
    }
    &_pic_alf{
        @include layout-bg-img-menu;
        background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
        @include touch-pad{
            background-position: bottom;
            height: 377px;
        }
        @include desktop-only{
            height: 500px;
            background-position: center;
            background-attachment: fixed;
        }
    }
    &_pic_lne{
        @include layout-bg-img-menu;
        background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
        @include touch-pad{
            background-position: bottom 51em left;
            height: 377px;
        }
        @include desktop-only{
            height: 500px;
            background-position: center;
            background-attachment: fixed;
        }
    }
    &_pic_lpdg{
        @include layout-bg-img-menu;
        background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        @include touch-pad{
            background-position: bottom;
            height: 377px;
        }
        @include desktop-only{
            height: 500px;
            background-position: center;
            background-attachment: fixed;
        }
    }
    &_list{
        display: flex;
        flex-direction: column;
        margin-top: -4em;
        background-color: $bg;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        padding: .5em 1em;
        @include touch-pad{
            flex-flow: row wrap;
        }
        @include desktop-only{
            flex-flow: row wrap;
            width: 70em;
        }
        &_title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 1em;
            @include touch-pad{
                justify-content: center;
                padding: 0;
                width: 100%;
                margin: 1em 0;
            }
            @include desktop-only{
                justify-content: center;
                width: 100%;
                margin: 2em 0;
            }
            & h1{
                font-family: 'shrikhand',Verdana, Geneva, Tahoma, sans-serif;
                font-size: 1.9em;
            }
            & i{
                font-size: 1.7em;
                @include touch-pad{
                    margin-left: 1em;
                }
                @include desktop-only{
                    margin-left: 1em;
                }
            }
        }
        &_start{
            @include layout-card-menu(.5s);
            margin-bottom: 2em;
            @include touch-pad{
                width: 50%;
                align-items: center;
                margin-bottom: 6em;
            }
            @include desktop-only{
                width: 50%;
                align-items: center;
            }
        }
        &_dish{
            @include layout-card-menu(1s);
            margin-bottom: 2em;
            @include touch-pad{
                width: 50%;
                align-items: center;
                margin-bottom: 6em;
            }
            @include desktop-only{
                width: 50%;
                align-items: center;
            }
        }
        &_dess{
            @include layout-card-menu(1.5s);
            margin-bottom: 2em;
            @include touch-pad{
                width: 100%;
                align-items: center;
                margin-bottom: 6em;
            }
            @include desktop-only{
                width: 100%;
                align-items: center;
            }
        }
    }

/*              Animation apparition des menus              */

@keyframes show-menu {
    0%{
        transform: scale(0);
    }        
    100%{
        transform: scale(1)
        }
}
@keyframes checkbox {
    0%{
        margin-right: -3em;
        width: 2em;
    }
    50%{
        margin-right: -1.5em;
        width: 4em;
    }
    100%{
        margin-right: 0;
        width: 4em;
    }
}
@keyframes check-rotation {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

/*              Bouton "Commander"              */

    &_btn{
        display: flex;
        justify-content: center;
        background-color: $bg;
        width: 70em;
        & button{
            @include button(170px);
            margin: 1em 0;
            margin-bottom: 4em;
            &:hover{
                @include btn-hover;
            }
        }
    }
}