/*              Responsive              */
* {
  box-sizing: border-box;
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.header-logo {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1em 0;
  padding-bottom: 0.5em;
  box-shadow: 0px -5px 9px black;
}
.header-logo span {
  font-family: "shrikhand", Verdana, Geneva, Tahoma, sans-serif;
  width: 6em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-logo span {
    font-size: 3em;
  }
}
@media screen and (min-width: 1025px) {
  .header-logo span {
    font-size: 3em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-logo {
    height: 5em;
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1025px) {
  .header-logo {
    font-size: 2em;
  }
}

/*          Loader       */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 99;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: loader 3s linear;
  animation-fill-mode: both;
}
.loader_circle {
  width: 15px;
  height: 15px;
  background-color: #9356DC;
  border-radius: 50%;
  margin: 0 0.4em;
  animation: jump 0.3s linear -0.9s infinite alternate;
}
.loader_circle-2 {
  width: 15px;
  height: 15px;
  background-color: #99E2D0;
  border-radius: 50%;
  margin: 0 0.4em;
  animation: jump 0.3s linear 0.1s infinite alternate;
}
.loader_circle-3 {
  width: 15px;
  height: 15px;
  background-color: #FF79DA;
  border-radius: 50%;
  margin: 0 0.4em;
  animation: jump 0.3s linear 0.2s infinite alternate;
}
.loader_txt {
  display: flex;
  padding-bottom: 1em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-image: -moz-linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
}
.loader_txt span {
  font-family: "shrikhand", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@media screen and (min-width: 1025px) {
  .explore {
    position: relative;
    box-shadow: 0px 6px 16px #cfcfcf;
  }
}

/*              Recherche               */
.form {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .form {
    height: 5em;
    align-items: center;
  }
}
@media screen and (min-width: 1025px) {
  .form {
    background-color: #f6f6f6;
    font-size: 1.1em;
  }
}
.form input {
  border: none;
  background-color: #eaeaea;
  margin-left: 1em;
  width: 57%;
  outline: none;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .form input {
    font-size: 1em;
  }
}
@media screen and (min-width: 1025px) {
  .form input {
    background-color: #f6f6f6;
    font-size: 1em;
  }
}
.form input::placeholder {
  font-weight: bold;
}
.form p {
  display: flex;
  justify-content: center;
  margin: 0.8em;
}
@media screen and (min-width: 1025px) {
  .form p {
    margin-top: 1.5em;
  }
}

/*              Section exploration             */
.explore_info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background: #f6f6f6;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .explore_info {
    height: 14em;
    justify-content: center;
    box-shadow: 0px 6px 16px #cfcfcf;
  }
}
.explore_info h1 {
  padding: 0 3em;
  text-align: center;
  margin-bottom: 0;
  margin-top: 1.5em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .explore_info h1 {
    margin-top: 0.5em;
  }
}
@media screen and (min-width: 1025px) {
  .explore_info h1 {
    margin-top: 0;
  }
}
.explore_info_txt {
  padding: 0 2em;
  text-align: center;
  font-size: 1em;
}
.explore_info_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  width: 200px;
  height: 3.2em;
  border-radius: 25px;
  border: 0;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
  box-shadow: 0px 6px 16px #cfcfcf;
  text-decoration: none;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  margin-bottom: 3em;
}
.explore_info_btn:hover {
  background: linear-gradient(303deg, rgba(147, 86, 220, 0.6574923547) 13%, rgba(255, 121, 218, 0.7247706422) 100%);
  box-shadow: 0px 6px 16px darkgray;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .explore_info_btn {
    width: 14em;
    height: 3em;
    border-radius: 40px;
    font-size: 1.2em;
    margin: 1em 0;
  }
}

/*              Fonctionnement              */
.functioning {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  margin: 2em 0;
}
@media screen and (min-width: 1025px) {
  .functioning {
    margin-bottom: 5em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .functioning h1 {
    margin: 1.5em 0;
    font-size: 3em;
    text-align: center;
    font-family: "shrikhand", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
  }
}
@media screen and (min-width: 1025px) {
  .functioning h1 {
    margin-bottom: 1em;
  }
}
.functioning_choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .functioning_choice {
    flex-flow: column wrap;
    height: 15em;
    justify-content: center;
    margin: 2.5em 0;
  }
}
@media screen and (min-width: 1025px) {
  .functioning_choice {
    justify-content: space-around;
    flex-direction: row;
  }
}
.functioning_choice_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  width: 90%;
  height: 70px;
  border-radius: 25px;
  flex-wrap: nowrap;
  position: relative;
  background-color: #f6f6f6;
  box-shadow: 0px 6px 16px #cfcfcf;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .functioning_choice_btn {
    width: 20em;
    margin: 1.5em 0;
  }
}
@media screen and (min-width: 1025px) {
  .functioning_choice_btn {
    margin: 1em 2em;
    width: 18em;
  }
}
.functioning_choice_btn:hover {
  background-color: #f5edff;
}
.functioning_choice_btn:hover i {
  color: #9356DC;
}
.functioning_choice_btn a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.functioning_choice_btn_number, .functioning_choice_btn i, .functioning_choice_btn span {
  margin: 0 1em;
  color: black;
  font-weight: bold;
}
.functioning_choice_number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 23px;
  left: -12px;
  font-size: 0.9em;
  width: 1.7em;
  height: 1.7em;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.functioning_choice_icon {
  display: flex;
  width: 1em;
  justify-content: center;
  margin-left: 2em;
}
.functioning_choice_icon i {
  color: #7e7e7e;
}

/*              Restaurants             */
.restaurant {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  margin-bottom: 0;
  padding: 0 1em;
  background-color: #f6f6f6;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant {
    background-color: white;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant {
    overflow-x: scroll;
  }
}
.restaurant h1 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant h1 {
    margin: 1.5em 0;
    font-size: 3em;
    text-align: center;
    font-family: "shrikhand", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
  }
}
.restaurant_card {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant_card {
    flex-flow: column wrap;
    height: 672px;
    align-items: center;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant_card {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 120em;
  }
}
.restaurant_card article {
  display: flex;
  flex-direction: column;
  height: 280px;
  width: 100%;
  margin: 1em 0;
  border-radius: 20px;
  box-shadow: 0px 6px 16px #cfcfcf;
  overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant_card article {
    width: 45%;
    height: 18em;
    margin: 1.5em 1em;
  }
}
@media screen and (min-width: 1025px) {
  .restaurant_card article {
    width: 23em;
    height: 281px;
    margin: 2em;
  }
}
.restaurant_card article a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}
.restaurant_card_pic_01 {
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 65%;
  position: relative;
}
.restaurant_card_pic_01_txt {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 5.5em;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
}
.restaurant_card_pic_02 {
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 65%;
  position: relative;
}
.restaurant_card_pic_02_txt {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 5.5em;
  background-color: #99E2D0;
  color: #278870;
  font-weight: bold;
}
.restaurant_card_pic_03 {
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 65%;
  position: relative;
}
.restaurant_card_pic_04 {
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 65%;
  position: relative;
}
.restaurant_card_body {
  display: flex;
  height: 30%;
  font-size: 1em;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
}
.restaurant_card_body_txt {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  justify-content: center;
  padding-bottom: 0.5em;
}
.restaurant_card_body_txt h2 {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 1.2em;
}
.restaurant_card_body_txt span {
  font-size: 1.2em;
}
.restaurant_card_body_icon {
  display: flex;
  width: 35%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.5em;
  position: relative;
}
.restaurant_card_body_icon_empty {
  font-size: 1.5em;
  z-index: 2;
}
.restaurant_card_body_icon_empty:hover + .restaurant_card_body_icon_full {
  animation: heart 1s both;
}
.restaurant_card_body_icon_empty:hover {
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.restaurant_card_body_icon_full {
  position: absolute;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
  right: 18px;
  top: 28px;
  transform: scale(0);
}

@keyframes heart {
  100% {
    transform: scale(1);
  }
}
/*                  Footer              */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 0 1.5em;
}
.footer h2 {
  font-family: "Shrikhand", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 1.3em;
  font-weight: lighter;
}
.footer ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 2em;
  line-height: 1.6em;
  list-style: none;
}
.footer ul a {
  display: flex;
  text-decoration: none;
  color: white;
  width: 100%;
}
.footer ul i {
  font-size: 1em;
  margin-right: 1em;
}
.footer ul li {
  display: flex;
}
.footer_icon {
  width: 2em;
}

/*              Page restaurants            */
/*                  Menu                    */
.header-menu {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1em 0;
  padding-bottom: 0.5em;
  box-shadow: 0px -5px 9px black;
}
.header-menu span {
  font-family: "shrikhand", Verdana, Geneva, Tahoma, sans-serif;
  width: 6em;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-menu span {
    font-size: 3em;
  }
}
@media screen and (min-width: 1025px) {
  .header-menu span {
    font-size: 3em;
  }
}
.header-menu_icon {
  position: absolute;
  left: 30px;
  top: 27px;
  font-size: 1.3em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header-menu_icon {
    font-size: 1.5em;
    top: 37px;
  }
}
@media screen and (min-width: 1025px) {
  .header-menu_icon {
    font-size: 1.5em;
    top: 37px;
  }
}
.header-menu_icon a {
  color: black;
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*              Animation apparition des menus              */
  /*              Bouton "Commander"              */
}
.main-menu_pic_ldds {
  display: flex;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-image: url(images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_pic_ldds {
    background-position: bottom;
    height: 377px;
  }
}
@media screen and (min-width: 1025px) {
  .main-menu_pic_ldds {
    height: 500px;
    background-position: center;
    background-attachment: fixed;
  }
}
.main-menu_pic_alf {
  display: flex;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-image: url(images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_pic_alf {
    background-position: bottom;
    height: 377px;
  }
}
@media screen and (min-width: 1025px) {
  .main-menu_pic_alf {
    height: 500px;
    background-position: center;
    background-attachment: fixed;
  }
}
.main-menu_pic_lne {
  display: flex;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-image: url(images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_pic_lne {
    background-position: bottom 51em left;
    height: 377px;
  }
}
@media screen and (min-width: 1025px) {
  .main-menu_pic_lne {
    height: 500px;
    background-position: center;
    background-attachment: fixed;
  }
}
.main-menu_pic_lpdg {
  display: flex;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-image: url(images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_pic_lpdg {
    background-position: bottom;
    height: 377px;
  }
}
@media screen and (min-width: 1025px) {
  .main-menu_pic_lpdg {
    height: 500px;
    background-position: center;
    background-attachment: fixed;
  }
}
.main-menu_list {
  display: flex;
  flex-direction: column;
  margin-top: -4em;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  width: 100%;
  padding: 0 1em;
}
.main-menu_list article {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 1025px) {
  .main-menu_list {
    flex-flow: row wrap;
    width: 70em;
  }
}
.main-menu_list_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  margin-top: 0.5em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list_title {
    justify-content: center;
    padding: 0;
    width: 100%;
    margin: 1em 0;
  }
}
@media screen and (min-width: 1025px) {
  .main-menu_list_title {
    justify-content: center;
    width: 100%;
    margin: 2em 0;
  }
}
.main-menu_list_title h1 {
  font-family: "shrikhand", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7em;
}
.main-menu_list_title i {
  font-size: 1.7em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list_title i {
    margin-left: 1em;
  }
}
@media screen and (min-width: 1025px) {
  .main-menu_list_title i {
    margin-left: 1em;
  }
}
.main-menu_list_start {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.main-menu_list_start_title {
  display: flex;
  width: 3em;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list_start_title {
    margin-bottom: 1em;
  }
}
.main-menu_list_start_title h2 {
  font-size: 1.1em;
  font-weight: lighter;
  margin-bottom: 0.3em;
}
.main-menu_list_start_card {
  display: flex;
  height: 75px;
  width: 23.8em;
  border-radius: 20px;
  margin-top: 1em;
  padding-left: 0.8em;
  box-shadow: 0px 6px 16px #cfcfcf;
  cursor: pointer;
  overflow: hidden;
  animation: show-menu 1.5s linear 0.5s both;
  transform-origin: top;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list_start_card {
    width: 21em;
    margin: 1em;
  }
}
.main-menu_list_start_card:hover > .main-menu_list_dish_card_icon {
  margin-right: 0;
  animation: checkbox 0.5s linear both;
}
.main-menu_list_start_card:hover > .main-menu_list_start_card_icon {
  margin-right: 0;
  animation: checkbox 0.5s linear both;
}
.main-menu_list_start_card:hover > .main-menu_list_dess_card_icon {
  margin-right: 0;
  animation: checkbox 0.5s linear both;
}
.main-menu_list_start_card:hover i {
  animation: check-rotation 0.5s linear;
}
.main-menu_list_start_card--medium {
  height: 6.3em;
}
.main-menu_list_start_card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 282px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-menu_list_start_card_info h3 {
  margin: 0.8em 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-menu_list_start_card_info span {
  display: inline-block;
  margin-bottom: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-menu_list_start_card_price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 1em;
  margin-bottom: 0.9em;
  width: 55px;
}
.main-menu_list_start_card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 2em;
  margin-right: -3em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1.3em;
  background-color: #99E2D0;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list_start {
    width: 50%;
    align-items: center;
    margin-bottom: 6em;
  }
}
@media screen and (min-width: 1025px) {
  .main-menu_list_start {
    width: 50%;
    align-items: center;
  }
}
.main-menu_list_dish {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.main-menu_list_dish_title {
  display: flex;
  width: 3em;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list_dish_title {
    margin-bottom: 1em;
  }
}
.main-menu_list_dish_title h2 {
  font-size: 1.1em;
  font-weight: lighter;
  margin-bottom: 0.3em;
}
.main-menu_list_dish_card, .main-menu_list_dess_card--medium, .main-menu_list_dish_card--medium, .main-menu_list_start_card--medium {
  display: flex;
  height: 75px;
  width: 23.8em;
  border-radius: 20px;
  margin-top: 1em;
  padding-left: 0.8em;
  box-shadow: 0px 6px 16px #cfcfcf;
  cursor: pointer;
  overflow: hidden;
  animation: show-menu 1.5s linear 1s both;
  transform-origin: top;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list_dish_card, .main-menu_list_dess_card--medium, .main-menu_list_dish_card--medium, .main-menu_list_start_card--medium {
    width: 21em;
    margin: 1em;
  }
}
.main-menu_list_dish_card:hover > .main-menu_list_dish_card_icon, .main-menu_list_dess_card--medium:hover > .main-menu_list_dish_card_icon, .main-menu_list_dish_card--medium:hover > .main-menu_list_dish_card_icon, .main-menu_list_start_card--medium:hover > .main-menu_list_dish_card_icon {
  margin-right: 0;
  animation: checkbox 0.5s linear both;
}
.main-menu_list_dish_card:hover > .main-menu_list_start_card_icon, .main-menu_list_dess_card--medium:hover > .main-menu_list_start_card_icon, .main-menu_list_dish_card--medium:hover > .main-menu_list_start_card_icon, .main-menu_list_start_card--medium:hover > .main-menu_list_start_card_icon {
  margin-right: 0;
  animation: checkbox 0.5s linear both;
}
.main-menu_list_dish_card:hover > .main-menu_list_dess_card_icon, .main-menu_list_dess_card--medium:hover > .main-menu_list_dess_card_icon, .main-menu_list_dish_card--medium:hover > .main-menu_list_dess_card_icon, .main-menu_list_start_card--medium:hover > .main-menu_list_dess_card_icon {
  margin-right: 0;
  animation: checkbox 0.5s linear both;
}
.main-menu_list_dish_card:hover i, .main-menu_list_dess_card--medium:hover i, .main-menu_list_dish_card--medium:hover i, .main-menu_list_start_card--medium:hover i {
  animation: check-rotation 0.5s linear;
}
.main-menu_list_dish_card--medium {
  height: 6.3em;
}
.main-menu_list_dish_card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 282px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-menu_list_dish_card_info h3 {
  margin: 0.8em 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-menu_list_dish_card_info span {
  display: inline-block;
  margin-bottom: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-menu_list_dish_card_price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 1em;
  margin-bottom: 0.9em;
  width: 55px;
}
.main-menu_list_dish_card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 2em;
  margin-right: -3em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1.3em;
  background-color: #99E2D0;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list_dish {
    width: 50%;
    align-items: center;
    margin-bottom: 6em;
  }
}
@media screen and (min-width: 1025px) {
  .main-menu_list_dish {
    width: 50%;
    align-items: center;
  }
}
.main-menu_list_dess {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.main-menu_list_dess_title {
  display: flex;
  width: 3em;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list_dess_title {
    margin-bottom: 1em;
  }
}
.main-menu_list_dess_title h2 {
  font-size: 1.1em;
  font-weight: lighter;
  margin-bottom: 0.3em;
}
.main-menu_list_dess_card {
  display: flex;
  height: 75px;
  width: 23.8em;
  border-radius: 20px;
  margin-top: 1em;
  padding-left: 0.8em;
  box-shadow: 0px 6px 16px #cfcfcf;
  cursor: pointer;
  overflow: hidden;
  animation: show-menu 1.5s linear 1.5s both;
  transform-origin: top;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list_dess_card {
    width: 21em;
    margin: 1em;
  }
}
.main-menu_list_dess_card:hover > .main-menu_list_dish_card_icon {
  margin-right: 0;
  animation: checkbox 0.5s linear both;
}
.main-menu_list_dess_card:hover > .main-menu_list_start_card_icon {
  margin-right: 0;
  animation: checkbox 0.5s linear both;
}
.main-menu_list_dess_card:hover > .main-menu_list_dess_card_icon {
  margin-right: 0;
  animation: checkbox 0.5s linear both;
}
.main-menu_list_dess_card:hover i {
  animation: check-rotation 0.5s linear;
}
.main-menu_list_dess_card--medium {
  height: 6.3em;
}
.main-menu_list_dess_card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 282px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-menu_list_dess_card_info h3 {
  margin: 0.8em 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-menu_list_dess_card_info span {
  display: inline-block;
  margin-bottom: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-menu_list_dess_card_price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 1em;
  margin-bottom: 0.9em;
  width: 55px;
}
.main-menu_list_dess_card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 2em;
  margin-right: -3em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1.3em;
  background-color: #99E2D0;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-menu_list_dess {
    width: 100%;
    align-items: center;
    margin-bottom: 6em;
  }
}
@media screen and (min-width: 1025px) {
  .main-menu_list_dess {
    width: 100%;
    align-items: center;
  }
}
@keyframes show-menu {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkbox {
  0% {
    margin-right: -3em;
    width: 2em;
  }
  50% {
    margin-right: -1.5em;
    width: 4em;
  }
  100% {
    margin-right: 0;
    width: 4em;
  }
}
@keyframes check-rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-menu_btn {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .main-menu_btn {
    width: 70em;
  }
}
.main-menu_btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  width: 170px;
  height: 3.2em;
  border-radius: 25px;
  border: 0;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
  box-shadow: 0px 6px 16px #cfcfcf;
  text-decoration: none;
  font-size: 0.9em;
  color: white;
  font-weight: bold;
  margin: 1em 0;
  margin-bottom: 4em;
}
.main-menu_btn button:hover {
  background: linear-gradient(303deg, rgba(147, 86, 220, 0.6574923547) 13%, rgba(255, 121, 218, 0.7247706422) 100%);
  box-shadow: 0px 6px 16px darkgray;
}

/*# sourceMappingURL=style.css.map */
