@mixin button($width) {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    width: $width;
    height: 3.2em;
    border-radius: 25px;
    border: 0;
    overflow: hidden;
    background-image: linear-gradient(to right bottom, $secondary-color, $primary-color);
    box-shadow: 0px 6px 16px #cfcfcf;
    text-decoration: none;
    font-size: .9em;
    color: white;
    font-weight: bold;
}
@mixin header {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 1em 0;
    padding-bottom: .5em;
    box-shadow: 0px -5px 9px black;
    & span{
        font-family: 'shrikhand', Verdana, Geneva, Tahoma, sans-serif;
        width: 6em;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        @include touch-pad{
            font-size: 3em;
        }
        @include desktop-only{
            font-size: 3em;
        }
    }
}
@mixin card-restaurant-img {
    height: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 65%;
    position: relative;
}
@mixin card-restaurant-img-txt {
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 5.5em;
    background-color: $tertiary-color;
    color: darken($tertiary-color, 40);
    font-weight: bold;
}
@mixin shadow {
    box-shadow: 0px 6px 16px #cfcfcf;
}
@mixin footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 0 1.5em;
    & h2{
        font-family: 'Shrikhand', Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        font-size: 1.3em;
        font-weight: lighter;
    }
    & ul{
        padding: 0;
        margin-top: 0;
        margin-bottom: 2em;
        line-height: 1.6em;
        list-style: none;
        & a{
            display: flex;
            text-decoration: none;
            color: white;
            width: 100%;
        }
        & i{
            font-size: 1em;
            margin-right: 1em;
        }
        & li{
            display: flex;

        }
    }
    &_icon{
        width: 2em;
    }
}
@mixin main-border-title {
    border-bottom: 1px solid $tertiary-color;
    width: 2.8em;
        & h2{
            font-size: 1.1em;
            font-weight: lighter;
            margin-bottom: .3em;
            }
}
@mixin layout-card-menu($timing-anim) {
    display: flex;
    flex-direction: column;
        &_title{
            display: flex;
            width: 3em;
            border-bottom: 3px solid $tertiary-color;
            @include touch-pad{
                margin-bottom: 1em;
            }
            & h2{
                font-size: 1.1em;
                font-weight: lighter;
                margin-bottom: .3em;
                }
            }
            &_card{
                display: flex;
                height: 75px;
                width: 23.8em;
                border-radius: 20px;
                margin-top: 1em;
                padding-left: .8em;
                box-shadow: $shadow;
                cursor: pointer;
                overflow: hidden;
                animation: show-menu 1.5s linear $timing-anim both;
                transform-origin: top;
                @include touch-pad{
                    width: 21em;
                    margin: 1em;
                }
                &:hover > .main-menu_list_dish_card_icon{
                    margin-right: 0;
                    animation: checkbox .5s linear both;
                }
                &:hover > .main-menu_list_start_card_icon{
                    margin-right: 0;
                    animation: checkbox .5s linear both;
                }
                &:hover > .main-menu_list_dess_card_icon{
                    margin-right: 0;
                    animation: checkbox .5s linear both;
                }
                &:hover i{
                    animation: check-rotation .5s linear;
                }
                &--medium{
                    @extend .main-menu_list_dish_card;
                    height: 6.3em;
                }
                &_info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 282px;
                    @include ellipsis;
                    & h3{
                        margin: .8em 0;
                        margin-bottom: 0;
                        @include ellipsis;
                    }
                    & span{
                        display: inline-block;
                        margin-bottom: .9em;
                        @include ellipsis;
                    }
                }
                &_price{
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    margin: 0 1em;
                    margin-bottom: .9em;
                    width: 55px;
                }
                &_icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 2em;
                    margin-right: -3em;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    font-size: 1.3em;
                    background-color: $tertiary-color;
                    color: white;
                }
            }
        }
@mixin layout-bg-img-menu{
    display: flex;
    height: 300px;
    width: 100%;
    background-size: cover;
}
@mixin loader-circle($color){
    width: 15px;
    height: 15px;
    background-color: $color;
    border-radius: 50%;
    margin: 0 .4em;
}
@mixin heart-color {
    background: linear-gradient(to bottom, $primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
@mixin btn-hover {
    background: linear-gradient(303deg, rgba(147,86,220,0.6574923547400612) 13%, rgba(255,121,218,0.7247706422018348) 100%);
    box-shadow: 0px 6px 16px darken(#cfcfcf, 15%);
}
@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*              Responsive              */

 @mixin touch-pad{
     @media screen and (min-width: 768px) and (max-width: 1024px) {
        @content; 
     }
 }
 @mixin desktop-only {
     @media screen and (min-width: 1025px){
         @content;
     }
 }
 @mixin title-style {
    margin: 1.5em 0;
    font-size: 3em;
    text-align: center;
    font-family: 'shrikhand', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
 }